//**************************
//#Events | filter
//**************************
#block-searchevents {
  float: left;
  padding-bottom: 8px;
  display: inline-table;
  background: #757575;
  color: white;

  .text-formatted.field--type-text-with-summary{
    border-left: 4px solid rgb(247, 147, 29);
    margin: 16px 70px;
    h3 {
      display: block;
      background-color: rgb(247, 147, 29);
      font-size: small;
      text-transform: uppercase;
      margin: 19px 17px 15px 22px;
    }
    h2 {

      font-size: larger;
      text-transform: uppercase;
      margin-top: -15px;
      margin-bottom: 0;
      padding-left: 20px;
    }
  }
}
.views-exposed-form {
  background: #757575;

  .form-autocomplete.form-text {
    padding: 13px;
    border: 1px solid #757575;
    border-radius: 0.3em;
  }
  .js-form-type-select {
    text-transform: uppercase;
    border: 1px solid #757575;
    border-radius: 0.3em;
    padding: 8px;
    background: white;
    label {
      color: rgb(110, 110, 110);
      padding-right: 15px;
    }
  }
  #edit-actions {
    display: inline-block;
    #edit-submit-events-page {
      color: white;
      background: rgb(247, 147, 29);
      text-transform: uppercase;
      padding: 10px 50px 10px 50px;
      border-radius: 0.3em;
      &:hover {
        background: rgb(188, 110, 27);
      }
    }
  }
}

//***************************
//#Events view | content
//***************************
.view-events-page {
  .view-content {
    margin: 100px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .views-row {
      display: flex;
      flex-wrap: wrap;
      width: 360px;
      background-color: rgb(221, 231, 233);
      .views-field-field-start-date-1 {
        display: block;
        width: 360px;
        .field-content {
          display: flex;
          justify-content: center;
          font-size: xx-large;
          margin-top: 30px;
        }
      }
      .views-field-field-start-date {
        display: block;
        width: 360px;
        .field-content {
          display: flex;
          justify-content: center;
        }
      }
      .views-field-title {
        display: block;
        width: 360px;
        .field-content {
          margin-top: 40px;
          display: flex;
          justify-content: center;
          a {
            text-decoration: none;
            color: rgb(0, 0, 0);
            font-size: larger;
            font-weight: bold;
          }
        }
      }
      .views-field-body {
        display: block;
        width: 360px;
        .field-content {
          margin: 10px 0;
          padding: 0 20px;
          display: flex;
          text-align: center;
        }
      }
      .views-field-view-node {
        display: block;
        width: 360px;
        text-align: center;
        margin: 27px 0;
        .field-content {
          &:hover {
            background-color: rgb(38, 142, 172);
            border: 1px solid rgb(38, 142, 172);
          }
          background-color: rgb(41, 193, 225);
          border: 1px solid rgb(41, 193, 225);
          display: inline-block;
          text-align: center;
          text-transform: uppercase;
          font-size: 14px;
          cursor: pointer;
          margin: -10px 10px 0 10px;
          padding: 0.50em 1.50em;
          border-radius: 1.2em;
          line-height: normal;
          a {
            color: rgb(255, 255, 255);
            text-decoration: none;
          }
        }
      }
      .views-field-field-event-image {
        display: block;
        width: 360px;
        .field-content {

        }
      }
    }
  }
}

//***************************
//#Fliped images in blocks
//***************************
.view-events-page {
  .views-row:nth-child(2){
    .views-field-field-event-image{
      order: 1;
    }
  }
  .views-row:nth-child(5){
    .views-field-field-event-image{
      order: 1;
    }
  }
}