// ========================================
//
// @file _landing.scss
// Landing page specific styling
//
// ========================================

.region-content {
  display: flex;
  .block-block-content40ec4cb5-3dd0-44ff-97e9-8e27e7fda203 {
    width: 60%;
    margin: 40px 20px 10px 0;

  }
  .block-block-content18449659-8b5a-4588-b607-7aef17f5f143 {
    width: 40%;
    margin: 60px 0 10px 20px;

    .boost-event {
      img {
        vertical-align: top;
        padding-top: 25px;
        margin-right: 30px;
      }
      .boost-event-text {
        display: inline-block;
        width: 380px;

      }
    }
  }
}
.block-views-blocklatest-events-block-1 {
  padding: 100px 0;
  background-color: rgb(221, 231, 233) ;
  .view-content {
    display: flex;
  }
}