.region-footer-copyright {
  position: relative;
  display: inline-block;
  justify-content: center;
  width: 100%;
  margin: 10px 10px 50px 10px;
  .field__item {
    hr {
      width: 100%;
      border-top: 1px solid rgb(221, 231, 233);
    }
    p {
      text-transform: uppercase;
      font-size: small;
      color: rgb(85, 89, 95);
    }
  }
}
.orange-triangle-footer {
  width: 300px;
  position: absolute;
  bottom: 41px;
  left: -150px;
}
.blue-triangle-footer {
  width: 370px;
  position: absolute;
  bottom: -60px;
  right: -150px;
}