// ========================================
//
// @file _footer.scss
// Footer element on the page
//
// ========================================

.region-footer-menu {
  .block-block-contentdc505545-f138-45f9-829d-b8878326ada7 {
    display: inline-block;
    float: left;
    width: 25%;
  }
  .block-block-contentdc02d1af-de5f-4296-b214-6a80ef84ac78 {
    display: inline-block;
    float: left;
    width: 25%;
  }
  .block-block-content5e03ca55-9a9d-4b3d-9823-221e0ca3dc02 {
    display: inline-block;
    float: left;
    width: 25%;
  }
  .block-block-content213da5eb-5fbc-42ca-8f8f-4ecc996a0d10 {
    display: inline-block;
    float: left;
    width: 25%;
  }
}