// ========================================
//
// @file _navigation.scss
// All the navigation elements on the page
//
// ========================================
.region-primary-menu {
  .block-system-branding-block, .menu--main, .menu--account {
    display: inline-block;
    }
  }


.menu--main li.menu-item {
  display: inline-block;
  margin: auto;
    a {
      text-decoration: none;
    }
  }