// ========================================
//
// @file _navigation.scss
// All the navigation elements on the page
//
// ========================================
.region-primary-menu {
  a { text-decoration: none;
      text-transform: uppercase;
  }
  margin: 10px;
  display: flex;
  justify-content: space-between;
  .block-system-branding-block {
    width: 25%;
  }
  .menu--main {
    width: 50%;
    ul.menu {
      display: flex;
      li.menu-item{
        margin: auto;
      }
    }
  }
  .menu--account {
    width: 25%;
    .menu .menu-item{
      text-align: right;
    }
  }
}
